@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    background: black;
    height: 100%;
}

/* #exit {
    height: 30px;
    width: 30px;
    background: #006680;
    border: 1px solid black;
    border-radius: 50px;
    position: Absolute;
    top: -30px;
    z-index: 50;
    right: -15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;

}

#exit:after {
    content: "";
    display: block;
    height: 15px;
    width: 15px;
    background: transparent;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px;

    border: 3px solid orange;
    border-top-color: transparent;
}

#exit:before {
    content: "";
    display: block;
    height: 10px;
    width: 3px;
    background: orange;
    z-index: 70;
    position: Absolute;
    right: 13px;
    top: 6px;
}

#circle {
    height: 40px;
    width: 40px;
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    position: absolute;
    top: -35px;
    z-index: 40;
    right: -20px;

}

#exit:hover {
    background: #7A0000;
} */

#single {
    position: relative;
    bottom: 330px;
    right: 300px;
    height: 50px;
    width: 600px;
    background: #006680;
    text-align: center;
    font-size: 30px;
    background-size: 1px 300%;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: orange;
    font-family: shadows into light;
    cursor: pointer;
}

#single:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-1deg);
    transform: rotate(-2deg);
}

#multiplayer:hover {
    background: #7A0000;
    color: white;

    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}


#options:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#left {
    height: 50px;
    width: 400px;
    background: orange;
    position: absolute;
    z-index: 6;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
    top: -229px;
    right: 46px;
    border-top: 1px solid white;

}

#right {
    height: 50px;
    width: 400px;
    background: orange;
    position: absolute;
    top: -229px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
    z-index: 7;
    left: 46px;
    border-top: 1px solid white;
}

#single p {
    position: relative;
    top: 2px;
    right: 4px;
}

#multiplayer {
    height: 50px;
    width: 500px;
    background: #006680;
    position: relative;
    bottom: 345px;
    right: 240px;
    text-align: center;
    font-size: 30px;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

#multiplayer p {
    position: relative;
    top: 0px;
    right: 9px;
}

#options {
    height: 50px;
    width: 400px;
    background: #006680;
    position: relative;
    bottom: 360px;
    right: 200px;
    font-size: 30px;
    text-align: center;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;
}

#options p {
    position: relative;
    top: 0px;
    right: 4px;
}

#credits {
    height: 50px;
    width: 300px;
    position: relative;
    background: #006680;
    bottom: 375px;
    font-size: 30px;
    right: 150px;
    text-align: center;
    font-family: shadows into light;
    color: orange;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    cursor: pointer;

}

#credits:hover {
    background: #7A0000;
    color: white;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

#credits p {
    position: relative;
    top: 0px;
}

#allthethings {
    width: 0px;
    height: 0px;

    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid transparent;
    border-radius: px;
    position: absolute;
    margin: auto;
    top: 35%;
    left: 32.5%;
}

canvas {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}

.btn_menu {
    border: none;
    background-color: transparent;
    width: 300px;
    height: 50px;
    font-size: 30px;
    text-align: center;
}

.btn_restart {
    border: none;
    background-color: transparent;
    width: 300px;
    height: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
}

/* novas coisas implementadas */
/* slider */
input[type=range] {
    height: 39px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #A6A6A6;
    background: #FF96AB;
    border-radius: 4px;
    border: 2px solid #F27B7F;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #F27B7F;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #FF96AB;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -11px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FF96AB;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 2px #A6A6A6;
    background: #FF96AB;
    border-radius: 4px;
    border: 2px solid #F27B7F;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #F27B7F;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #FF96AB;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #FF96AB;
    border: 2px solid #F27B7F;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #A6A6A6;
}

input[type=range]::-ms-fill-upper {
    background: #FF96AB;
    border: 2px solid #F27B7F;
    border-radius: 8px;
    box-shadow: 1px 1px 2px #A6A6A6;
}

input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 2px #A6A6A6;
    border: 2px solid #F27B7F;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    background: #FF96AB;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #FF96AB;
}

input[type=range]:focus::-ms-fill-upper {
    background: #FF96AB;
}